<section class="full-width pageContent">
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="fas fa-boxes"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Articulos
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h mb-5"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Entradas</th>
                        <th>Salidas</th>
                        <th>opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">100</td>
                        <td>100</td>
                        <td>
                            <button class="boton" mat-raised-button>Editar</button>
                            <button class="boton" mat-raised-button color="warn">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="example-button-container contenedor">
                <button mat-fab color="primary" class="botonF1">
                    <mat-icon>add circle icon</mat-icon>
                 </button>
            </div>
        </div>
    </div>
</section>