<section class="full-width pageContent">
    <section class="full-width header-well">
        <div class="buttons">
            <button class="boton" mat-raised-button>Capurar</button>
            <button class="boton" mat-raised-button>Cancelar Prod</button>
            <button class="boton" mat-raised-button>Desc gnral</button>
            <button class="boton" mat-raised-button>Dividir cuenta</button>
            <button class="boton" mat-raised-button>Pagar cuenta</button>
            <button class="boton" mat-raised-button>Imprimir cuenta</button>
            <button class="boton" mat-raised-button color="warn">Regresar</button>
        </div>
    </section>
    <div class="full-width divider-menu-h mb-5"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">No.Cuenta</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td>Jacob</td>
                        <td> <button mat-raised-button color="primary">Detalle</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="example-button-container contenedor">
                <button mat-fab color="warn" class="botonF1">
                    <mat-icon>delete</mat-icon>
                 </button>
            </div>
        </div>
    </div>
</section>