.buttons {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.boton {
    margin-right: 1%;
    padding-right: 1%;
    margin-top: 2%;
}

.contenedor {
    width: 90px;
    height: 240px;
    position: fixed;
    right: 1rem;
    bottom: 2rem;
}

.botonF1 {
    width: 60px;
    height: 60px;
    right: 1rem;
    bottom: 2rem;
    position: fixed;
}