<section class="full-width pageContent">
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="fas fa-cash-register"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Corte de caja.
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h mb-5"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <button (click)="corteCaja()" mat-flat-button style="margin-right: 1%;" color="primary">Simple</button>
            <button mat-flat-button color="accent">Completa</button>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Entradas</th>
                        <th>Salidas</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{this.entrada}}</td>
                        <td>{{this.salida}}</td>
                        <td>{{this.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>