<section class="full-width pageContent">
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="fas fa-utensils"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Comedor
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h mb-5"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">No.Cuenta</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuenta of cuentas">
                        <td class="mdl-data-table__cell--non-numeric">{{cuenta.id}}</td>
                        <td>Sin pagar</td>
                        <td> <button mat-raised-button color="primary" (click)="verDetalle(cuenta.id)">Detalle</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="example-button-container contenedor">
                <button mat-fab color="primary" class="botonF1" (click)="abrirCuenta()">
                    <mat-icon>add circle icon</mat-icon>
                 </button>
            </div>
        </div>
    </div>
</section>