<!-- navLateral -->
<section class="full-width navLateral">
    <div class="full-width navLateral-bg btn-menu"></div>
    <div class="full-width navLateral-body">
        <div class="full-width navLateral-body-logo text-center tittles">
            <i class="zmdi zmdi-close btn-menu"></i> Punto de venta
        </div>
        <figure class="full-width" style="height: 77px;">
            <div class="navLateral-body-cl">
                <img src="assets/img/avatar-male.png" alt="Avatar" class="img-responsive">
            </div>
            <figcaption class="navLateral-body-cr hide-on-tablet">
                <span>
                    Full Name Admin<br>
                    <small>Admin</small>
                </span>
            </figcaption>
        </figure>
        <div class="full-width tittles navLateral-body-tittle-menu">
            <i class="zmdi zmdi-desktop-mac"></i><span class="hide-on-tablet">&nbsp; DASHBOARD</span>
        </div>
        <nav class="full-width">
            <ul class="full-width list-unstyle menu-principal">
                <li class="full-width">
                    <a [routerLink]="['/inicio']" class="full-width" routerLinkActive="active">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-view-dashboard"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet btn-mover">
                            HOME
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a class="full-width btn-subMenu cursor">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-case"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            Punto de venta
                        </div>
                        <span class="zmdi zmdi-chevron-left"></span>
                    </a>
                    <ul class="full-width menu-principal sub-menu-options">
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/comedor']" class="full-width btn-mover" routerLinkActive="active">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-utensils"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    COMEDOR
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/plataforma']" class="full-width btn-mover" routerLinkActive="active">
                                <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-truck"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    PLATAFORMA
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/rapido']" class="full-width btn-mover" routerLinkActive="active" id="btn-mover">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-hamburger"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    RAPIDO
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/retiro']" class="full-width btn-mover" routerLinkActive="active" id="btn-mover">
                                <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-card"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    RETIRO/DEPOSITO
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/consultar']" class="full-width btn-mover" routerLinkActive="active" id="btn-mover">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    CONSULTAR CUENTAS
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/monitor']" class="full-width btn-mover" routerLinkActive="active" id="btn-mover">
                                <div class="navLateral-body-cl">
                                    <i class="fab fa-sellsy"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    MONITOR DE VENTAS
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/corte']" class="full-width btn-mover" routerLinkActive="active" id="btn-mover">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-cash-register"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    CORTE DE CAJA
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a class="full-width btn-subMenu cursor">
                        <div class="navLateral-body-cl">
                            <i class="fas fa-home"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            Inventario
                        </div>
                        <span class="zmdi zmdi-chevron-left"></span>
                    </a>
                    <ul class="full-width menu-principal sub-menu-options">
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/articulos']" class="full-width btn-mover" routerLinkActive="active">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-boxes"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    ARTICULOS
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/platillos']" class="full-width btn-mover" routerLinkActive="active">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-list-alt"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    PLATILLOS
                                </div>
                            </a>
                        </li>
                        <li class="full-width" [class.not-active]="!turno_abierto">
                            <a [routerLink]="['/insumos']" class="full-width btn-mover" routerLinkActive="active" id="btn-mover">
                                <div class="navLateral-body-cl">
                                    <i class="fas fa-lemon"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    INSUMOS
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>