<section class="full-width pageContent">
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="fas fa-list-alt"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Platillos
            </p>
        </div>
    </section>
    <div class="full-width divider-menu-h mb-5"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <div class="t-responsive">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                            <th>Categoria</th>
                            <th>Departamento</th>
                            <th>Unidad de venta</th>
                            <th>Precio de venta</th>
                            <th>Existacia</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let platillo of platillos">
                            <td class="mdl-data-table__cell--non-numeric">{{platillo.nombre}}</td>
                            <td>{{platillo.categoria_id}}</td>
                            <td>{{platillo.departamento_id}}</td>
                            <td>{{platillo.unidad_venta}}</td>
                            <td>{{platillo.precio_venta}}</td>
                            <td>{{platillo.existencia}}</td>
                            <td>
                                <button class="boton" mat-raised-button color="warn" (click)="eliminarPlatillo(platillo.id)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="example-button-container contenedor">
                <button (click)="open(content)" mat-fab color="primary" class="botonF1">
                    <mat-icon>add circle icon</mat-icon>
                 </button>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Agregar insumo</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form autocomplete="off" [formGroup]="PlatilloFormGroup" (ngSubmit)="agregarPlatillo()">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNovalido">
                            <small *ngIf="nombreNovalido" class="text-danger">
                                    nombre no valido
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Categoria:</label>
                            <select class="form-control form-control-sm" formControlName="categoria" [class.is-invalid]="categoriaNovalida">
                                    <option>Categoria 1</option>
                                    <option>Categoria 2</option>
                            </select>
                            <small *ngIf=" categoriaNovalida" class="text-danger">
                                    Este cuadro no puede estar vacio
                            </small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Departamento:</label>
                            <select class="form-control form-control-sm" formControlName="departamento" [class.is-invalid]="departamentoNovalido">
                                    <option>Departamento 1</option>
                                    <option>Departamento 2</option>
                            </select>
                            <small *ngIf="departamentoNovalido" class="text-danger">
                                    Este cuadro no puede estar vacio
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Unidad de Venta:</label>
                            <select class="form-control form-control-sm" formControlName="unidad_venta" [class.is-invalid]="unidadVentaNovalida">
                                    <option>pieza</option>
                                    <option>Departamento 2</option>
                                </select>
                            <small *ngIf="unidadVentaNovalida" class="text-danger">
                                    Este cuadro no puede estar vacio
                                  </small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Precio de venta:</label>
                            <input type="number" class="form-control" formControlName="precio_venta" [class.is-invalid]="precioVentaNovalida">
                            <small *ngIf="precioVentaNovalida" class="text-danger">
                                    solo numeros positivos
                                  </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Existencia:</label>
                            <input type="number" class="form-control" formControlName="existencia" [class.is-invalid]="existenciaNovalida">
                            <small *ngIf="existenciaNovalida" class="text-danger">
                                solo numeros positivos
                              </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="agregarPlatillo()">Aceptar</button>
        </div>
    </ng-template>
</section>